@page "/"
@inject IJSRuntime JSRuntime
@using FlintecChatBotApp.Components.Models;

<div>
    <h3>Flintec</h3>
</div>




<div class="ChatContainer">
   
    <div class="ChatMessageWindow">


        @if (conversation.tabConversationsCount > 0)
        {
            <p>@conversation.tabConversationsCount</p>


            @foreach (string message in conversation.GetTabMessage())
            {

                <p class="displayChatMessage">@message</p>

                <div class="messageContainer">
                    <div class="chatIconContainer">
                        <!--<img src="flintec_logo.png" class="chatIcon" alt="Flintec Logo" />-->
                    </div>
                    <!--<p class="displayReplyMessage">@message</p>-->
                   
                </div>
            }
        }


        else
        {

            <p>@conversation.tabConversationsCount</p>

        }
    </div>


<div class="inputArea">
    <div class="inputWrapper">
            <textarea type="text" id="auto-resize-textarea" class="inputBar" @bind="userQuestion" placeholder="Type your message here..." @onkeypress="EnterKeyPressed" />
            <button class="sendButton" @onclick="UserSubmitQuestion">Send</button>
    </div>

    <div class="contactTextContainer">
        <p class="contactText">Contact the company for more details</p>
    </div>
</div>


</div>



<button @onclick="CreateConversationTab">New tab</button>


@foreach (var conversationOnApp in appInstance.appConversation)
{
    <div>
        <button @onclick="() => GetConversationTab(conversationOnApp.Key)">@conversationOnApp</button>
        <button @onclick="() => DeleteConversationTab(conversationOnApp.Key)">Delete</button>
    </div>
}

