@page "/"
@inject IJSRuntime JSRuntime
@using FlintecChatBotApp.Components.Models;
@using System.Linq;

<div>
    <h3>Flintec</h3>
</div>


<div>
    <div>


        @if (userConversation.messages.Count > 0)
        {
            <p>No: @userConversation.messages.Count</p>



            @foreach (var item in userConversation.messages.Select((message, index) => new { message, index }))
            {
                <p>@item.message</p>
                <button onclick="userAccountConversation.EditMessage(@item.index)">Edit</button>
            }
        }


        else
        {

            <p>@userConversation.messages.Count()</p>
        }
    </div>


<div class="inputArea">
    <div class="inputWrapper">
            <textarea type="text" id="auto-resize-textarea" class="inputBar" @bind="userQuestion" placeholder="Type your message here..." @onkeypress="EnterKeyPressed" />
            <button class="sendButton" @onclick="UserSubmitQuestion">Send</button>
    </div>

    <div class="contactTextContainer">
        <p class="contactText">Contact the company for more details</p>
    </div>
</div>


</div>



<button @onclick="() => CreateNewConversation()">New tab</button>




@foreach (var dict in userConversation.conversations.Select((message, listindex) => new { message, listindex }))
{
    <div>
        <button @onclick="() => GetConversation(dict.listindex)">Get</button>
        <button @onclick="() => userConversation.DeleteConversation(dict.listindex)">Delete</button>
          <!-- <span>Conversation {dict.listindex}</span> --> 
    </div>
}

<h1>////</h1>

@foreach(var i in userConversation.conversations)
{
    <p>@i</p>
    <p>@userConversation.messages.ToString()</p>
}



