@page "/"
@inject IJSRuntime JSRuntime
@using FlintecChatBotApp.Components.Models;
@using System.Linq;

<div>
    <h3>Flintec</h3>
</div>




<div>


    <div>


        @if (userConversation.messages.Count > 0)
        {
            <p>No: @userConversation.messages.Count</p>



            @foreach (var item in userConversation.messages.Select((message, index) => new { message, index }))
            {
                <p>@item.message</p>
                <button onclick="userAccountConversation.EditMessage(@item.index)">Edit</button>
            }
        }


        else
        {

            <p>@userConversation.messages.Count()</p>
        }
    </div>


<div class="inputArea">
    <div class="inputWrapper">
            <textarea type="text" id="auto-resize-textarea" class="inputBar" @bind="userConversation.userQuestion" placeholder="Type your message here..." @onkeypress="EnterKeyPressed" />
            <button class="sendButton" @onclick="UserSubmitQuestion">Send</button>
    </div>

    <div class="contactTextContainer">
        <p class="contactText">Contact the company for more details</p>
    </div>
</div>


</div>



<button @onclick="() => CreateNewConversation()">New tab</button>


<p>Pointer = @userConversation.pointingTab</p>
<p>No of Tabs = @userConversation.totalTabs</p>


@foreach (var singleConversation in userConversation.conversations)
{
    <div>
        <button @onclick="() => userConversation.GetConversation(singleConversation.Key)">@singleConversation</button>
        <button @onclick="() => userConversation.DeleteConversation(singleConversation.Key)">Delete</button>
    </div>
}



